.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.botao,
.botao-secundario,
.botao-seta {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  max-width: max-content;
}
.botao,
.botao-seta {
  background: linear-gradient(#ffbf00, #f2a50c);
  color: var(--cor-p5);
}
.botao:hover,
.botao-seta:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.botao-secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}
.botao-secundario:hover {
  background: var(--cor-9);
}
.titulo {
  background-color: var(--cor-11);
  padding: 48px 0px;
}
.botao-seta {
  display: flex;
  align-items: center;
}
.botao-seta::after {
  content: "";
  width: 18px;
  height: 10px;
  background: url("img/icones/seta.svg");
  margin-left: 12px;
  display: inline-block;
  transition: 0.2s;
}
.botao-seta:hover::after {
  transform: translateX(4px);
}
.col-2 {
  grid-column: 1/-1;
}
@media (max-width: 450px) {
  .botao,
  .botao-secundario,
  .botao-seta {
    padding: 12px 24px;
    font: 600 0.875rem/1.35 "Poppins", sans-serif;
  }
}
