header {
  background-color: var(--cor-12);
  padding: 32px 20px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 32px;
}
header nav a {
  color: var(--cor-0);
  padding: 16px 0;
  position: relative;
  border-radius: 4px;
}
header nav a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: currentColor;
  display: block;
  position: absolute;
  transition: 0.3s;
  margin-top: 3px;
  margin-left: 1px;
}
header nav a:hover::after {
  width: 100%;
}
.s a::after {
  width: 100%;
}
.b a::after {
  width: 100%;
}
.c a::after {
  width: 100%;
}
@media (max-width: 1050px) {
  header nav a {
    background-color: var(--cor-11);
    padding: 8px 16px;
  }
  header nav a:hover {
    background-color: var(--cor-10);
  }
  header nav a::after {
    display: none;
  }
  .s a {
    background-color: var(--cor-10);
  }
  .b a {
    background-color: var(--cor-10);
  }
  .c a {
    background-color: var(--cor-10);
  }
}
@media (max-width: 700px) {
  header ul {
    gap: 16px;
  }
}
@media (max-width: 600px) {
  header > div {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 360px) {
  header ul {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  header li:nth-child(2) a {
    padding: 8px 22px;
  }
  header li:nth-child(3) a {
    padding: 8px 21px;
  }
}
