.seguros-bg {
  background-color: var(--cor-11);
}
.seguros-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 20px;
  gap: 40px;
  align-items: center;
}
.seguros-container h2 {
  grid-column: 1 / -1;
}
.seguros-planos {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  columns: 2;
  position: relative;
}
.seguros-planos a {
  align-self: start;
}
.seguros-top {
  display: flex;
  justify-content: space-between;
}
.seguros-planos h3 {
  padding-bottom: 32px;
  text-transform: uppercase;
}
.seguros-valor {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.seguros-planos ul {
  grid-column: 1 / -1;
}
.seguros-planos li + li {
  margin-top: 16px;
}
.seguros-planos li {
  position: relative;
}
.seguros-planos li::before {
  content: url("img/icones/lista.svg");
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -2px;
}
.seguros-planos a {
  margin-top: 24px;
}
.vantagens-bg {
  background-color: var(--cor-12);
  padding-top: 120px;
  padding-bottom: 60px;
}
.vantagens-bg ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}
.vantagens-bg h2 {
  margin-bottom: 48px;
}
.perguntas {
  padding: 120px 0;
}
.perguntas h2 {
  margin-bottom: 80px;
}
.perguntas button {
  margin-bottom: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  width: 100%;
  background: none;
  border: none;
  text-align: start;
  cursor: pointer;
}
.perguntas dl div + div {
  padding-top: 32px;
}
.perguntas dd {
  max-width: 75ch;
  padding-left: 24px;
  display: none;
}
.perguntas dd.ativo {
  display: block;
}
.perguntas dl div {
  padding: 20px;
}
.perguntas div:nth-child(odd) {
  background-color: var(--cor-1);
}
.perguntas button::before {
  content: "";
  width: 16px;
  height: 8px;
  display: inline-block;
  background-color: var(--cor-p1);
}
.perguntas button::after {
  content: "";
  width: 14px;
  height: 6px;
  display: inline-block;
  background: url("img/icones/seta-abrir.svg");
  transition: 0.3s;
}
.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
@media (max-width: 850px) {
  .seguros-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .seguros-container {
    grid-template-columns: 1fr;
  }
  .seguros-top {
    flex-direction: column;
    align-items: center;
  }
  .seguros-top h3 {
    padding: 0px;
  }
  .seguros-planos {
    align-items: center;
    padding: 32px;
  }
  .seguros-planos a {
    align-self: center;
  }
}
