.home-bicicletas {
  padding-bottom: 120px;
}
.home-bicicletas h2 {
  padding-top: 60px;
}
.home-bicicletas ul {
  max-width: 1500px;
  margin: 0px auto;
  margin-top: 36px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  gap: 36px;
  overflow: auto;
}
.home-bicicletas li {
  min-width: 280px;
}
.home-bicicletas ul span {
  margin-top: 8px;
  display: inline-block;
  padding-left: 24px;
}
.home-bicicletas h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.home-bicicletas h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  transition: 0.2s;
}
.home-bicicletas a:hover h3::before {
  width: 24px;
}
@media (max-width: 900px) {
}
