.seguros-bg {
  background-color: var(--cor-11);
}
.seguros-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 20px;
  gap: 40px;
  align-items: center;
}
.seguros-container h2 {
  grid-column: 1 / -1;
}
.seguros-planos {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  columns: 2;
  position: relative;
}
.seguros-planos a {
  align-self: start;
}
.seguros-top {
  display: flex;
  justify-content: space-between;
}
.seguros-planos h3 {
  padding-bottom: 32px;
  text-transform: uppercase;
}
.seguros-valor {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.seguros-planos ul {
  grid-column: 1 / -1;
}
.seguros-planos li + li {
  margin-top: 16px;
}
.seguros-planos li {
  position: relative;
}
.seguros-planos li::before {
  content: url(/img/icones/lista.svg);
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -2px;
}
.seguros-planos a {
  margin-top: 24px;
}
@media (max-width: 850px) {
  .seguros-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .seguros-container {
    grid-template-columns: 1fr;
  }
  .seguros-top {
    flex-direction: column;
    align-items: center;
  }
  .seguros-top h3 {
    padding: 0px;
  }
  .seguros-planos {
    align-items: center;
    padding: 32px;
  }
  .seguros-planos a {
    align-self: center;
  }
}
